<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @response.code %>
</p>

<p>
  <strong>Response:</strong>
  <%= @response.response %>
</p>

<p>
  <strong>Judgement:</strong>
  <%= @response.judgement %>
</p>

<br>
<%= link_to("Next Response", @response.next) if @response.next %>
<br>

<%= link_to 'Edit', edit_response_path(@response) %> |
