<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @response.code %>
</p>

<p>
  <strong>Response:</strong>
  <%= @response.response %>
</p>

<p>
  <strong>Judgement:</strong>
  <%= judgement_string(@response.judgement) %>
</p>

<br>
<% if @response.next %>
  <%= link_to "Next Response", edit_response_path(@response.next)%>
<% else %>
  <%= link_to "You are finished! return to home.", root_url%>
<%end%>
<br>
<br>
<%= link_to 'Edit', edit_response_path(@response) %>
